%style(type="text/css")
  :sass
    tr.new
      background: lightyellow
    a.contextlink
      text-decoration: none
      &:hover
        text-decoration: underline
%form(action=search_deeds_path method="get")
  = text_field_tag 'q'
  = submit_tag 'Search'

- unless @live
  = will_paginate(@deeds, :params => {:context => nil})

- jquery_template(:deed_t) do
  %tr.deed.new
    %td.performed_at 
      ${epoch(performed_at).toLocaleString()} 
      %input.deed_id(type="hidden" style="display:none" value="${id}")
    %td.speaker ${speaker}
    %td.text ${text}
    ${setid(id)}
    - if @search
      %td
        <a class="contextlink" href="/deeds?context=${id}" >
        ! &oplus;
        </a>

%table#deeds
  %tr
    %th Date
    %th Speaker
    %th Text
    - if @search
      %th

- unless @live
  = will_paginate(@deeds, :params => {:context => nil})

:javascript
  var max_id = 0;
  var setid = function(id){ max_id = id; return '';};
  var deeds = #{deeds_json};
  $('#deeds').append($.tmpl('deed_t', deeds));
  highlight();
  linkify();

- if @context
  :javascript
    var flash = function(n, el){
      if(n <= 0) return;
      $(el).fadeOut('slow', function(){
        $(this).fadeIn('slow', function(){
          flash(n-1, this);
        });
      });
    };
    $(function(){
        flash(2, $('input.deed_id[value=#{@context}]').parents('tr'));
      }
    );




- if @live
  :javascript
    var poller = new SafePeriodic(5, function(ok){
      $.get('/deeds.json?page=live&last=' + max_id, function(data){
        $('tr.deed:lt(' + data.length + ')').remove();
        $('#deeds').append($.tmpl('deed_t', data));
        setTimeout(highlight, 2000);
        ok();
      });
    });
